 {% extends 'base.html' %}
 {% block content %}
 {% include 'navbar.html' %}
<h1>{{ app_name }}</h1>

<h5>NPM: </h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<hr>

<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 

{% if not all_product %}
<p>Belum ada data produk.</p>
{% else %}

{% for product in all_product %}
<div>
  <h2><a href="{% url 'main:show_product' product.id %}">{{ product.title }}</a></h2>

  <p><b>{{ product.get_category_display }}</b>{% if product.is_featured %} | 
    <b>Featured</b>{% endif %}

  {% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br />
  {% endif %}

  

  <p><a href="{% url 'main:show_product' product.id %}"><button>Check Product</button></a></p>

<p>
    <a href="{% url 'main:show_product' product.id %}"><button>Check product detail</button></a>
    {% if user.is_authenticated and news.user == user %}
    <a href="{% url 'main:edit_product' product.pk %}">
        <button>
            Edit
        </button>
    </a>
    <a href="{% url 'main:delete_product' product.pk %}">
      <button>
          Delete
      </button>
  </a>

    {% endif %}
</p>
</div>

<hr>
{% endfor %}

{% endif %}
 {% endblock content %}